.main{
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.split.left{
    position: absolute;
    left: 0;
    background-color: plum;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("indir.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    mix-blend-mode: darken;
}
.split.left h1{
    width: 100%;
    text-align: center;
    font-size: 100px;
    color: white;
    backdrop-filter: brightness(.5);
letter-spacing: 4px;
    
}
.split.right{
    position: absolute;
    right: 0%;
    background-color: bisque;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("images.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    mix-blend-mode: darken;
}
.split.right h1{
    width: 100%;
    text-align: center;
    font-size: 100px;
    color: white;
    backdrop-filter: brightness(.5);
    letter-spacing: 4px;
}

.active-left .left{
    width: 75%;
}

.active-left .right{
width: 25%;
}
.active-right .left{
    width: 25%;
}
.active-right .right{
    width: 75%;
}

.left,
.right{
    transition:width 2s ease-in-out;
}

.leftBtn{
    padding: 10px;
    background-color: blueviolet;
    color: white;
    border-radius: 10px;

}
.leftBtn:hover{
    background-color: white;
    color: blueviolet;
    border: solid 2px blueviolet;
}
.rightBtn{
    padding: 10px;
    background-color: blueviolet;
    color: white;
    border-radius: 10px;

}

.rightBtn:hover{
    background-color: white;
    color: blueviolet;
    border: solid 2px blueviolet;
}

/* burada 768px altında yapılacak deişimler */
@media (max-widh: 768px) {
.split.left h1 {
    font-size: 50px;
    letter-spacing: 0px;
}
.split.right h1 {
    font-size: 50px;
    letter-spacing: 0px;
}
}
